// TODO: this shares a lot with scss/accounts.scss
@import "../scss-include/mixins.scss";
@import "colours.scss";

body.contact-lists {
    .main {
        @include shadow;
        @include rounded;
        background: $dust;
        padding: 30px;
        & > h2 {
            @include rounded-top;
            background: $sand;
            padding: 1em;
            margin: -30px -30px 1em;
        }

        label {
            width: 200px;
            text-align: right;
            margin-right: 1.5em;
            float: left;
            clear: left;
        }
        .field {
            margin-bottom: 1em;
        }
    }
}
