/*

Attributions:

Default leaf avatar by http://joshladella005.deviantart.com
Icon set by http://icons8.com/

*/

@import "colours.scss";
@import "scss-include/mixins.scss";

html {
    height: 100%;
}

body.body {
    padding: 0px;
    margin: 0px;
    color: #261818;
    background: url('../images/bg-green.png') fixed bottom center repeat-x $leaf;
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
}
div, p, form {
    + h2, + h3, + h4 {
        margin-top: 1em;
    }
}

img {
    border: 0px;
}
img.size-16 {
    height: 16px;
    width: 16px;
}
img.size-24 {
    height: 24px;
    width: 24px;
}
img.size-32 {
    height: 32px;
    width: 32px;
}

p {
    margin-top: 0px;
    margin-bottom: 1em;
}

pre, code {
    white-space: pre-wrap;
}

pre {
    margin-left: 1em;
}

pre code {
    border: none;
    background: transparent;
}

code {
    border: 1px solid $sand;
    background: $dust;
    border-radius: 3px;
    padding: 2px;
}

a {
    border-bottom: 1px dotted;
    text-decoration: none;
}
a:visited {
    border-bottom: 1px dotted;
}
a:hover {
    border-bottom: 1px dotted;
}
a:active {
    border-bottom: 1px dotted;
}
a.icon:hover { background: none };
a.member-name, a.member-name:visited {
    border: 0px;
}

textarea, input[type="text"], input[type="password"] {
    border: 1px solid;
}

.main {
    max-width: 1000px;
    min-width: 500px;
    width: 90%;
    margin: 70px auto 30px auto;
    padding: 30px;
    background: transparent;
    border-radius: 3px;
}

.flash {
  padding: 1em 50px;
  margin: 0 0 1em;
  &.error {
    background: url('../images/flash-error.png') no-repeat scroll 10px 0.5em $rose;
    border: 2px solid $red;
  }
  &.notice {
    background: url('../images/flash-notice.png') no-repeat scroll 10px 0.5em $water;
    border: 2px solid $sky;
  }
}

#logo {
    float: left;
    margin-right: 2px;
    height: 40px;
}

.menu {
    text-align: right;
    height: 40px;
    position: fixed;
    top: 0px;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    padding: 0px;
    z-index: 3;

    #menu-narrower {
        width: 1000px;
        margin: 0px auto;

        a {
            margin-left: 10px;
            border-bottom: 0px;
        }
        a.home {
            float: left;
            margin-left: 0px;
            span {
                float: left;
            }
        }

        .avatar {
            float: none;
            margin: 0px;
        }

        img {
            vertical-align: middle;
        }

        .menu-item {
            width: 26px;
            height: 26px;
            margin-left: 10px;
            float: right;
            cursor: pointer;
        }

        #main-menu-container {
            margin-right: 345px;
            padding-top: 6px;
            height: 26px;
        }
        #main-menu-container.with-custom {
            margin-right: 360px;
        }

        #menu-notifications {
            white-space: nowrap;
        }

        #menu-account {
            width: auto;
            padding-top: 4px;

            img {
                height: 32px;
                width: 32px;
            }
        }

        #menu-log-in {
            width: auto;
            padding-top: 7px;
        }

        #account-window {
            top: 46px;
            right: 18px;
            width: 180px;
            padding: 5px;

            a {
                line-height: 28px;
                margin-left: 0px;
            }

            img {
                vertical-align: middle;
                height: 24px;
                width: 24px;
            }
        }

    }
}


#river-menu {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    .menu-item {
        padding-left: 4px;
        padding-right: 4px;
        cursor: pointer;
    }
    .menu-item.inactive {
        cursor: default;
    }
    .menu-item + .menu-item {
        border-left: 1px solid $main_green;
    }
    height: 40px;
}

.age, .age-update {
    color: #778877;
}

.avatar {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.typed-text {
    line-height: 1.4em;
    text-align: left;
    word-wrap: break-word;
    a img { border-bottom: 2px dotted $dark_green; }
    a:visited img { border-bottom: 2px dotted $light_green; }
    a:hover img { border-bottom: 2px dotted $autumn_red; }
    a:active img { border-bottom: 2px dotted $autumn_red; }

    h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }
}

.post-text {
    clear: left;
}

div.comments {
    .success {
        display: none;
        margin-bottom: 1em;
    }
}

div.comment {
    .avatar {
        height: 30px;
        width: 30px;
    }
    .text {
        clear: left;
    }

    .comment-tools {
        float: right;
        visibility: hidden;

        a {
            margin-left: 10px;
            cursor: pointer;
        }
    }

    .num-likes {
        text-align: right;
        float: right;
        margin-left: 10px;
    }
}

.hidden {
    display: none;
}

div.comment, .detachable .content {
    margin-top: 20px;
    border-top: 1px dotted #666666;
    padding-top: 10px;
}

form.comment {
    .avatar {
        height: 40px;
        width: 40px;
    }

    a.attach, a.detach {
        display: none;
    }
}

textarea.comment, form.comment .form-buttons {
    width: 300px;
}

#recreate-beginner-rivers {
    text-align: center;
}

#post-new, #post-edit {
    margin: 0px auto;
    text-align: center;
    width: 500px;
}

.post-tools {
    float: right;
    text-align: right;

    a {
        margin-left: 5px;
        cursor: pointer;
        white-space: nowrap;
    }
}

.window {
    display: none;
    position: absolute;
    z-index: 4;
    background-color: $sand;
    border-top: 0px;
    border-left: 1px solid $stone;
    border-right: 1px solid $stone;
    border-bottom: 1px solid $stone;
    text-align: left;
}

#notifications-window {
    top: 46px;
    left: 570px;
    width: 300px;
    min-height: 100px;
    padding: 10px;

    .header {
        margin-bottom: 8px;
        height: 20px;

        .title {
            float: left;
        }

        .tools {
            float: right;
        }
    }
}

#num-notifications-unseen {
    padding: 1px 2px 2px 2px;
    top: 8px;
    left: -28px;
    position: relative;
}

.has-shadow {
    @include shadow;
}

.notification {
    border-bottom: 1px dotted #666666;
    cursor: pointer;
    min-height: 40px;

    .avatar {
        height: 30px;
        width: 30px;
        margin: 4px 6px 0px 0px;
    }
}
.notification.unseen {
    opacity: 1.0;
}
.notification.seen {
    opacity: 0.8;
}

#notifications-more {
    text-align: right;
}

blockquote {
    border-left: 4px solid $path;
    padding: 0.5em 0px 0.1em 1em;
    margin-left: 0px;
    text-align: left;
}

.preview-box {
    position: relative;
    background-color: $sand;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid $path;

    h3.preview {
        padding-top: 0px;
        margin-top: 0px;
        border-bottom: 1px solid $path;
    }
    a.close {
        position: absolute;
        right: 1em;
        top: 1em;
    }
}

.form-buttons {
    margin-top: 10px;
    text-align: center;

    input {
        margin-left: 5px;
        height: 24px;
        padding-left: 4px;
        padding-right: 4px;
    }
}

#comments-show {
    display: none;
}

a.hashtag, a.commenter-ref {
    cursor: pointer;
}

.input-and-filler {
    position: relative;
}

.filler {
    position: absolute;
    left: 34px;
    cursor: text;
    vertical-align: middle;
    padding-top: 2px;
}

form.search {
    margin-top: 2px;
    input {
        width: 100px;
        height: 20px;
        background-image: url('../images/icon-search.png');
        background-position: right;
        background-repeat: no-repeat;
        padding-right: 30px;
    }
}

a.go-ref-back {
    display: none;
}

table.table {
    border: 1px solid $main_green;
    border-collapse: collapse;
    th {
        text-align: left;
    }
    th, td {
        border: 1px solid $main_green;
        padding: 0.5em;
    }
}

#query-examples {
    td:first-child {
        white-space: nowrap;
    }
}

div.river {
    margin-top: 1em;

    .river-tools {
        margin-left: 20px
    }
}
textarea.custom {
    width: 500px;
}
textarea#invitations {
    width: 85%;
}

#textarea-post-new,
#textarea-post-edit,
#textarea-message-new {
    width: 500px;
}
#hashtags-input {
    input {
        width: 500px;
    }
}

#textarea-description {
    width: 500px;
}

#form-river-new, #form-river-edit {
    input[type="text"], textarea {
        width: 400px;
    }
}

#post-excerpts {
    div.spinner {
        text-align: center;
    }
}

.markdown-injector {
    margin-bottom: 5px;
    opacity: 0.3;
    a {
        background-color: $faint_tan;
        color: black;
        border-bottom: 0px;
        margin-left: 0.1em;
        cursor: pointer;
    }
}

.markdown-injector:hover {
    opacity: 1.0;
}

.search {
    li.profile {
        list-style-type: none;
    }
    img.avatar {
        width: 16px;
        height: 16px;
        margin-bottom: 0;
    }
}

div.pools {
    position: fixed;
    z-index: 2;
    width: 250px;
    border: 1px solid $main_green;
    background-color: $faint_green;
    padding: 1em;
    display: none;

    select#pool-selector {
        width: 100%;
    }
}

.post-excerpt div.pools {
    top: 150px;
    left: 0px;
}
.post div.pools {
    top: 20px;
    left: 300px;
}
div.pools .chzn-container .chzn-results li {
    line-height: 24px;
}

.fading-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    padding: 1em;
    border: 1px solid $main_green;
    background-color: $faint_green;
}

.profile #river-selector {
    width: 400px;
}

.more-posts {
    text-align: center;
    padding: 1em;
    margin: 0px;
    display: none;
}

.more-posts-divider {
    width: 100%;
    height: 5px;
    padding: 0px;
    margin: 0px;
}
