$stone:  #cec8ab;
$dust:   #f2f1e9;
$path:   #c1ac63;
$sand:   #efead7;
$sky:    #6a8ba6;
$water:  #d9e1e8;
$red:    #d64e4e; /* a bit dark */
$rose:   #f5d3d3; /* ugly */
$leaf:   #699040;
$algae:  #d9e3c4;
$bark:   #505534;
$text:   #35211b;

$dark_green: #1f6132;
$main_green: #639463;
$light_green: #a3d4a3;
$lighter_green: #ADE1AD;
$faint_green: #EDFAED;
$grey_translucent: rgba(250,250,250,0.65);
$cocoa_bean: #4c321a;
$iced_coffee: #cc8a4e;
$light_tan: #D9B798;
$faint_tan: #f9d7b8;
$autumn_red: #c2503e;

$menu_colour_1: rgba(242, 235, 217, 0.90);
$menu_colour_1_no_alpha: rgb(242, 235, 217);
$menu_colour_2: #c5c670;

$shadow: #1a1f10;

/* -------------- */

$header_gradient_start: top;
$header_gradient_stop: bottom;

body.body {
    background-color: $faint_green;
}

.menu {
    background-color: $menu_colour_1_no_alpha;
    background: -moz-linear-gradient($header_gradient_start,  $menu_colour_1 0%, $menu_colour_2 100%);
    background: -webkit-gradient(linear, left $header_gradient_start, left $header_gradient_stop, color-stop(0%,$menu_colour_1), color-stop(100%,$menu_colour_2));
    background: -webkit-linear-gradient($header_gradient_start,  $menu_colour_1 0%,$menu_colour_2 100%);
    background: -o-linear-gradient($header_gradient_start,  $menu_colour_1 0%,$menu_colour_2 100%);
    background: -ms-linear-gradient($header_gradient_start,  $menu_colour_1 0%,$menu_colour_2 100%);
    background: linear-gradient($header_gradient_start,  $menu_colour_1 0%,$menu_colour_2 100%);
}

.main {
    background-color: $faint_green; /* fallback for browsers that don't support opacity in colour definitions */
    background-color: $grey_translucent;
}

a {
    color: $dark_green;
    border-bottom: 1px dotted $dark_green;
    text-decoration: none;
}
a:visited {
    color: $main_green;
    border-bottom: 1px dotted $main_green;
}
a:hover {
    color: $autumn_red;
    border-bottom: 1px dotted $autumn_red;
}
a:active {
    color: $autumn_red;
    border-bottom: 1px dotted $autumn_red;
}

a.member-name, a.member-name:visited {
    color: #261818;
}

textarea,
input[type="text"],
input[type="password"],
.chzn-container-multi .chzn-choices,
.chzn-container-active .chzn-choices {
    background-color: $faint_tan;
    background-image: none;
    border: 1px solid $iced_coffee;
    color: $cocoa_bean;
}

#num-notifications-unseen, #num-chat-unseen, .num-chat-unseen {
    background-color: $autumn_red;
    color: white;
}

.filler {
    color: $cocoa_bean;
}
