$stone:  #cec8ab;
$dust:   #f2f1e9;
$path:   #c1ac63;
$sand:   #efead7;
$sky:    #6a8ba6;
$water:  #d9e1e8;
$red:    #d64e4e; /* a bit dark */
$rose:   #f5d3d3; /* ugly */
$leaf:   #699040;
$algae:  #d9e3c4;
$bark:   #505534;
$text:   #35211b;

$dark_green: $leaf;
$main_green: #639463;
$light_green: #a3d4a3;
$lighter_green: #ADE1AD;
$faint_green: #EDFAED;
$dust_translucent: rgba(242,241,233,0.80);
$cocoa_bean: #4c321a;
$light_tan: #D9B798;
$faint_tan: $sand;
$autumn_red: #c2503e;

$menu_colour_1: $dust;
$menu_colour_2: $stone;

$shadow: #1a1f10;

/* -------------- */

$header_gradient_start: top;
$header_gradient_stop: bottom;

.menu {
    background-color: $menu_colour_1;
    background: -moz-linear-gradient($header_gradient_start,  $menu_colour_1 0%, $menu_colour_2 70%);
    background: -webkit-gradient(linear, left $header_gradient_start, left $header_gradient_stop, color-stop(0%,$menu_colour_1), color-stop(70%,$menu_colour_2));
    background: -webkit-linear-gradient($header_gradient_start,  $menu_colour_1 0%,$menu_colour_2 70%);
    background: -o-linear-gradient($header_gradient_start,  $menu_colour_1 0%,$menu_colour_2 70%);
    background: -ms-linear-gradient($header_gradient_start,  $menu_colour_1 0%,$menu_colour_2 70%);
    background: linear-gradient($header_gradient_start,  $menu_colour_1 0%,$menu_colour_2 70%);
}

.main {
    background-color: $dust; /* fallback for browsers that don't support opacity in colour definitions */
    background-color: $dust_translucent;
}

a {
    color: $dark_green;
    border-bottom: 1px dotted $dark_green;
    text-decoration: none;
}
a:visited {
    color: $main_green;
    border-bottom: 1px dotted $main_green;
}
a:hover {
    color: $autumn_red;
    border-bottom: 1px dotted $autumn_red;
}
a:active {
    color: $autumn_red;
    border-bottom: 1px dotted $autumn_red;
}

a.member-name, a.member-name:visited {
    color: #261818;
}

textarea,
input[type="text"],
input[type="password"],
.chzn-container-multi .chzn-choices,
.chzn-container-active .chzn-choices {
    background-color: $faint_tan;
    background-image: none;
    border: 1px solid $path;
    color: $cocoa_bean;
}

#num-notifications-unseen, #num-chat-unseen, .num-chat-unseen {
    background-color: $autumn_red;
    color: white;
}

.filler {
    color: $cocoa_bean;
}

.excerpts-view {
    #header {
        background-color: $dust;
    }

    .post-excerpt {
        background-color: $dust; /* fallback for browsers that don't support alpha in colours */
        background-color: $dust_translucent;

        .show-more, .show-less {
            &:hover {
                background-color: $dust;
            }
        }
    }
    div.spinner {
        background-color: $dust; /* fallback for browsers that don't support alpha in colours */
        background-color: $dust_translucent;
    }
}

.more-posts {
    background-color: $faint_green;
}

.single-post-view {
    div.post.with-comments-sliding {
        background-color: $dust; /* fallback for browsers that don't support alpha in colours */
        background-color: $dust_translucent;
    }
    div.comments-pane {
        background-color: $dust; /* fallback for browsers that don't support alpha in colours */
        background-color: $dust_translucent;
    }
}

div.profile {
    background-color: $dust; /* fallback for browsers that don't support alpha in colours */
    background-color: $dust_translucent;
}
