@import "colours.scss";
@import "scss-include/mixins.scss";

body.excerpts-view .main {
    width: 1000px;
    margin: 30px auto 30px auto;
    padding: 0;
    background: transparent;
}

.excerpts-view {
    #header {
      padding: 20px;
      background: $dust;
      border-radius: 10px 10px 0 0;
      margin-bottom: 0.6em;
      @include shadow;
    }

    #no-more-posts {
      text-align: center;
      background: $dust;
      border-radius: 0 0 10px 10px;
      padding: 0.5em;
      @include shadow;
    }

    .post-excerpt {
        @include shadow;
        background: $dust_translucent;
        width: 100%;
        padding: 1em 0 1em;
        border-radius: 3px;
        margin-bottom: 0.6em;

        .avatar {
            float: left;
        }

        .post-stats {
            clear: left;
            margin-left: 50px;
        }

        .post-tools {
            display: none;
            float: left;
            text-align: left;
            margin-left: 50px;

            a {
                margin-left: 0px;
                margin-right: 5px;
            }
            a.confirm-hide {
                display: none;
            }
        }

        $meta_width: 250px;
        $excerpt_height: 200px;

        div.meta {
            width: $meta_width;
            min-height: $excerpt_height;
            vertical-align: top;
            overflow: hidden;
            float: left;
            padding-left: 30px;
            padding-bottom: 1em;
        }
        div.excerpt {
            padding-left: 20px;
            padding-right: 30px;
            height: $excerpt_height;
            overflow: hidden;
            .overflowed {
              height: $excerpt_height;
            }
            img {
                max-width: 100%;
            }
            .end-of-text {
                opacity: 0.2;
            }
        }

        .show-more, .show-less {
            display: none;
            text-align: center;
            background: $dust;
            position: relative;
            margin-top: 1em;
            margin-bottom: -1em;
            a {
                width: 100%;
                display: block;
                border: none;
                padding: 0.5em 0;
            }
        }

        .link-view-post {
            margin-top: 10px;
        }

        .jump-to-comment {
            display: none;
        }
    }
}
