@import "colours.scss";

.excerpts-view {
    .post-excerpt {
        width: 100%;
        padding: 1em 0px;
        border-bottom: 1px dotted $main_green;

        .avatar {
            float: left;
        }

        .post-stats {
            clear: left;
            margin-left: 50px;
        }

        .post-tools {
            display: none;
            float: left;
            text-align: left;
            margin-left: 50px;
            a {
                margin-left: 0px;
                margin-right: 5px;
            }
            a.confirm-hide {
                display: none;
            }
        }

        $meta_width: 250px;
        $excerpt_height: 200px;

        div.meta {
            width: $meta_width;
            height: $excerpt_height;
            vertical-align: top;
            overflow: hidden;
            float: left;
        }
        div.excerpt {
            .height-fixed {
                height: $excerpt_height;
                overflow: hidden;
            }

            overflow: hidden;
            img {
                max-height: 60px;
            }
            img:hover {
                max-height: 100%;
                max-width: 640px;
            }
            .end-of-text {
                opacity: 0.2;
            }

            .show-more, .show-less {
                display: none;
                text-align: center;
                a {
                    padding: 0px 150px;
                }
            }
        }

        .link-view-post {
            margin-top: 10px;
        }

        .jump-to-comment {
            display: none;
        }
    }
}
