@import "colours.scss";
@import "scss-include/mixins.scss";

$dynamic-excerpt-width-threshold: 1060px;
@mixin dynamic-excerpt-width {
    width: 720px;
    @media screen and (max-width: $dynamic-excerpt-width-threshold) {
        width: auto;
        margin-left: 240px;
    }
}

body.excerpts-view .main {
    padding: 0;
    background-color: transparent;

    select {
      width: 400px;
    }

    div.panel {
        @include dynamic-excerpt-width;
        @include border-box;
        float: right;
        @media screen and (max-width: $dynamic-excerpt-width-threshold) {
            float: none;
        }
        padding-left: 30px;
        padding-right: 30px;

        &.top {
            padding-top: 30px;
        }

        ul, h1, h2, h3, h4, h5 {
            margin: 0px;
            padding: 0px 0px 1em 0px;
        }

        ul {
            margin-left: 2em;
        }
    }
}

.excerpts-view {
    div.spinner {
      background-color: $dust;
    }

    #header {
      @include border-box;
      background-color: $dust;
      padding: 20px;
      border-radius: $border-radius $border-radius 0 0;
      @include dynamic-excerpt-width;
      float: right;
      @media screen and (max-width: $dynamic-excerpt-width-threshold) {
        float: none;
      }
    }

    #no-more-posts {
      @include border-box;
      text-align: center;
      border-radius: 0 0 $border-radius $border-radius;
      float: right;
      padding: 1em 4em;
    }

    #no-rivers {
      text-align: center;
      background: $dust;
      border-radius: $border-radius;
      padding: 2em;
      margin-top: 1em;
    }

    &.profile {
        #no-more-posts {
            display: none;
        }

        #see-more {
            padding: 1em;
        }
    }

    #sidebar {
      @include shadow;
      @include border-box;
      padding: (40px + 10px) 10px 10px; // 40px = height of the menu bar
      position: fixed;
      overflow-y: auto;
      z-index: 2; // one less than the menu bar
      top: 0;
      left: auto;
      @media screen and (max-width: 1100px) {
        left: 0;
      }

      width: 250px;
      height: 100%;
      background-color: $dust_translucent;

      .menu-item {
          padding-left: 4px;
          padding-right: 4px;
      }
      .menu-item + .menu-item {
          border-left: 1px solid $main_green;
      }

      h3 {
        margin-top: 1em;
        margin-bottom: 0;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0.5em 0;
        li {
          padding: 5px;
          margin-left: 1em;
          cursor: pointer;
          &.selected {
            cursor: default;
          }
          a {
            display: block;
            border: none;
          }
          &:hover {
            background: $sand;
          }
        }
      }
    }

    #post-excerpts {
        @include shadow;
        @include rounded;
        float: right;
        @media screen and (max-width: $dynamic-excerpt-width-threshold) {
            float: none;
        }
        background-color: $dust;
        @include dynamic-excerpt-width;
    }

    .post-excerpt {
        padding: 0px 0px 2em 0px;
        border-bottom: 1px dotted $leaf;
        overflow: auto;

        .avatar {
            float: left;
        }

        .post-stats {
            color: $bark;
            margin-right: 16px;
        }

        // the max-height of the excerpt is set in layout/_head.xhtml
        div.meta {
            background-color: $sand;
            position: relative;

            .post-tools {
                max-width: 372px;
            }

            &:hover .post-tools {
              opacity: 1;
            }

            .member {
                padding: 1em;
                white-space: nowrap;
                display: inline-block;
                .member-text {
                    max-width: 15em;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    float: left;
                }
                .avatar {
                   margin-bottom: 0px; /* override application.scss */
                }
            }
        }
        div.excerpt {
            padding: 1.8em 1.8em 0;
            overflow: hidden;
            .overflowed {
              min-height: 200px;
              .comments {
                margin-bottom: 1em;
                form.comment {
                  display: inline-block;
                }
              }
            }
            img {
                max-width: 100%;
            }
            &.images-thumbnailed {
                img {
                    max-height: 60px;
                }
                img:hover {
                    max-height: 100%;
                }
            }
            .end-of-text {
                opacity: 0.2;
            }
        }

        .show-more, .show-less {
            display: none;
            text-align: center;
            position: relative;
            margin-bottom: -1em;
            &:hover {
                background-color: $sand;
            }
            a {
                width: 100%;
                display: block;
                border: none;
                padding: 0.5em 0;
            }
        }

        .jump-to-comment {
            display: none;
        }
    }
    .post-excerpt.first {
        @include rounded-top;
        .meta {
            @include rounded-top;
        }
    }

    textarea.comment {
        width: 300px;
    }
}
