@import "colours.scss";

select#recipients {
    width: 400px;
}

#recipients_chzn {
    margin-bottom: 1em;
}

.search-choice-close {
    border-bottom: 0px;
}

.message {
    border-bottom: 1px dotted $main_green;
    margin-bottom: 1em;
    padding-bottom: 1em;

    .text {
        margin-top: 1em;
    }
}

form#new-message {
    display: none;

    .message-note-toggler {
        margin-left: 2em;
        position: relative;
        top: 4px;
    }
    p.message-note {
        display: none;
        border: 2px solid $light_tan;
        padding: 1em;
        margin-top: 0.5em;
    }
}
