html {
    height: auto;
}

body.body {
    height: auto;
}

.main {
    width: auto;
    padding: 1em;
}

.menu {
    text-align: left;
    #menu-narrower {
        width: 100%;
        #main-menu-container {
            margin-right: 0px;
        }
    }
    .menu-item {
        margin-right: 5px;
        float: left;
    }
    #menu-account {
        margin-left: 60px;
    }
}

textarea {
    width: 85%;
}

#post-new, #textarea-description {
    width: 90%;
}
#textarea-post-new {
    width: 100%;
}
#hashtags-input {
    width: 100%;
    input {
        width: 100%;
    }
}

#account-window {
    top: 71px;
    width: 150px;
    padding: 0.5em;
}

#notifications-window {
    top: 71px;
    left: 0.5em;
    width: 280px;
    min-height: 100px;
    padding: 0.5em;
}

#num-notifications-unseen {
    top: 20px;
    left: 18px;
}

textarea.comment, form.comment .form-buttons {
    width: 100%;
}

form.comment table {
    width: 80%;
}

input#search {
    width: 35px;
}

.post-excerpt {
    div.meta {
        margin-bottom: 1em;
        .post-tools {
            float: none;
        }
    }
}
