@import "colours.scss";

html {
    height: auto;
}

body.body {
    height: auto;
}

.main {
    width: auto !important;
    padding: 1em;
    min-width: 0;
}

.menu {
    text-align: left;
    #menu-narrower {
        width: 100%;
        min-width: 0px;
        #main-menu-container {
            margin-left: 0px;
            margin-right: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
        .menu-item {
            margin-left: 2px;
        }
        #menu-account {
            margin-right: 5px;
        }
    }
    form.search {
        margin-left: 5px;
    }
}

textarea {
    width: 85%;
}

#post-new, #textarea-description {
    width: 90%;
}
#textarea-post-new {
    width: 100%;
}
#hashtags-input {
    width: 100%;
    input {
        width: 100%;
    }
}

#account-window {
    top: 71px;
    width: 150px;
    padding: 0.5em;
}

#notifications-window {
    left: 0.5em;
    margin: 0 auto;
    width: 280px;
    min-height: 100px;
    padding: 0.5em;
}

textarea.comment, form.comment .form-buttons {
    width: 100%;
}

form.comment table {
    width: 80%;
}

input#search {
    width: 35px;
}

.excerpts-view {
    .back-to-top {
        float: right;
    }

    .post-excerpt {
        div.meta {
            float: none;
            margin-bottom: 1em;
            .post-tools {
                float: none;
            }
        }
        div.excerpt {
            .show-more, .show-less {
                a {
                    padding: 0px 50px;
                }
            }
        }
    }
}

.single-post-view {
  .main {
    margin: 60px 0px;
    padding: 0px;
    max-width: none;
    min-width: none;

    div.post {
      background-color: $dust;
      padding: 2em;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
  }
}

#chat-window {
    width: 280px;
    left: 0.5em;
    margin-left: 0px;

    #chat-new-partner-wrapper {
        select#chat-new-partner {
            width: 260px;
        }
    }

    .logs {
        .log {
            .messages {
                max-height: 300px;
            }
        }
    }
}
