@import "colours.scss";

.single-post-view {
  div.post {
    position: relative;
    overflow: auto;
    padding: 10px;

    div.post-pane {
      /*position: absolute;*/
      position: relative;
      width: 50%;
      float: left;
      padding: 0 15px 0 0;
      border-right: 1px solid $main_green;
      overflow: auto;
      vertical-align: top;

      .post-proper {
        width: 100%;
        img {
          max-width: 450px;
        }
        .post-text {
          width: 100%;
          word-wrap: break-word;
        }
      }
      &.expanded-post {
        width: 100%;
        position: relative;
        border: none;
        padding: 0;
        img {
          max-width: 920px;
        }
      }
    }
    div.comments-pane {
      margin-left: 50%;
      padding-left: 15px + 15px;
      div.comments {
        overflow-y: auto;
        vertical-align: top;
        img {
          max-width: 450px;
        }
      }
      &.expanded-post {
        width: 0;
      }
    }
  }
}
