@import "colours.scss";

html.splash {
  // This background image is based on photos copyright by Jim Champion
  // (http://www.geograph.org.uk/profile/1086), available under a CC licence.
  background: url('../images/silhouette-dust.png') bottom center repeat-x $dust;
  height: 100%;
}

body.splash {
  margin: 0 auto;
  width: 400px;
  background: transparent;
  color: $text;

  .flash {
    padding: 0.5em;
    border-radius: 0 0 10px 10px;
    text-align: center;
    &.error {
      background: $rose;
    }
    &.notice {
      background: $water;
    }
  }

  div.image-wrapper {
    margin-bottom: 1em;
    text-align: center;
  }

  div.label {
    text-align: right;
    margin-right: 0.5em;
    width: 100px;
    float: left;
    clear: left;
  }

  p.note {
    margin-top: 1.5em;
    font-size: 0.9em;
    color: $bark;
  }

  input[type="text"], input[type="password"] {
    background: #fff;
  }

  .language-bar {
    font-size: 0.7em;
    text-align: center;
  }
}
