<h2><%=_('Notifications')%></h2>

<div style="margin-bottom: 1.5em;">
  <a id="mark-all-notifications-seen" href="#"><%=_('mark all seen')%></a>
</div>

<div id="notifications-list">
  <!-- TODO: DRY this up into a partial or template. -->
  <img
    class="spinner size-32"
    src="/themes/default/images/spinner.gif"
    v-if="fetchingData"
  />

  <div v-show="notifications.length == 0">
    <%=_('You have no new notifications.')%>
  </div>
  <div
    v-repeat="group: notificationGroups"
    v-component="comp-notification-group"
  ></div>
</div>

<!-- render_partial '_notifications', grouped_notifs: @grouped_notifs -->
