<!-- Bell icon by Randall Barriga http://thenounproject.com/noun/bell/#icon-No3013 -->
<a
  href="/notifications"
  class="menu-item"
  id="menu-notifications"
  v-on="click: onClick"
  v-attr="title: title"
><%= img 'icon-bell.png', {alt:_('Notifications')}%><span
  id="num-notifications-unseen"
  v-show="n > 0" v-text="n"
><%= account.num_notifications_unseen %></span></a>
<div id="notifications-window" class="window has-shadow"></div>
