@import "../scss-include/mixins.scss";
@import "colours.scss";

body.accounts.edit {
    ul.actions {
        margin-bottom: 1em;
        margin-left: 0;
        padding-left: 0;
        li {
            list-style: none;
        }
    }
}
