@import "../scss-include/mixins.scss";
@import "colours.scss";

body.rivers {
    ul.actions {
        margin-bottom: 1em;
        margin-left: 0;
        padding-left: 0;
        li {
            list-style: none;
        }
    }
    .main {
        div.river {
            margin-bottom: 1em;
            .river-tools {}
            .query {
                display: block;
                clear: both;
            }
        }
        #form-river-new, #form-river-edit {
            input[type="text"], textarea {
                width: 400px;
            }
        }
    }
}
