development:
  host: localhost
  username: libertree
  database: libertree_development 
  password: libertree
test:
  host: localhost
  username: libertree
  database: libertree_test
  password: libertree
production:
  host: localhost
  username: libertree
  database: libertree_production
  password: libertree
