$( function() {
  Libertree.Notifications = {
    updateIconAndWindow: function() {
      Libertree.Notifications.notificationsSyncer.fetchingData = true;
      $.get('/vue-api/notifications?only-unseen=true', function(data) {
        Libertree.Notifications.notificationsSyncer.notificationGroups = data;
        Libertree.Notifications.notificationsSyncer.fetchingData = false;
      });
    },
    updateNotificationsPage: function() {
      if( $('.main #notifications-list').length == 0 ) { return; }

      $.get('/vue-api/notifications?only-unseen=false', function(data) {
        Libertree.Notifications.notificationsPageSyncer.notificationGroups = data;
        Libertree.Notifications.notificationsPageSyncer.fetchingInitialData = false;
      });
    }
  };

  Vue.component('comp-notif-desc-comment', {
    template: '#template-notif-desc-comment',
    inherit: true,
    replace: true,
  });

  Vue.component('comp-notif-comment-link', {
    template: '<a href="#link-to-comment-" title="{{glimpse}}">click here</a>',
    inherit: true,
    replace: true,
  });

  /* TODO: Make a generic function for substituting positional parameters */
  /* See: http://slexaxton.github.io/Jed/ */
  var partialBody;

  /* TODO: DRY this up! */
  partialBody = Libertree.I18n['commented-on-your-post-singular'];
  partialBody = partialBody.replace(/%1\$s/, '{{actorsPhrase}}');
  // TODO: href = #{ comment_link(@subject) }
  partialBody = partialBody.replace(/%2\$s/, '<a href="{{link}}" title="{{glimpse}}">');
  partialBody = partialBody.replace(/%3\$s/, '</a>');
  Vue.partial( 'partial-i18n-commented-on-your-post-singular', partialBody );

  partialBody = Libertree.I18n['commented-on-post-singular'];
  partialBody = partialBody.replace(/%1\$s/, '{{actorsPhrase}}');
  // TODO: href = #{ comment_link(@subject) }
  partialBody = partialBody.replace(/%2\$s/, '{{postMemberNameDisplay}}');
  partialBody = partialBody.replace(/%3\$s/, '<a href="{{link}}" title="{{glimpse}}">');
  partialBody = partialBody.replace(/%4\$s/, '</a>');
  Vue.partial( 'partial-i18n-commented-on-post-singular', partialBody );

  partialBody = Libertree.I18n['commented-on-your-post-plural'];
  partialBody = partialBody.replace(/%1\$s/, '{{actorsPhrase}}');
  // TODO: href = #{ comment_link(@subject) }
  partialBody = partialBody.replace(/%2\$s/, '<a href="{{link}}" title="{{glimpse}}">');
  partialBody = partialBody.replace(/%3\$s/, '</a>');
  Vue.partial( 'partial-i18n-commented-on-your-post-plural', partialBody );

  partialBody = Libertree.I18n['commented-on-post-plural'];
  partialBody = partialBody.replace(/%1\$s/, '{{actorsPhrase}}');
  // TODO: href = #{ comment_link(@subject) }
  partialBody = partialBody.replace(/%2\$s/, '{{postMemberNameDisplay}}');
  partialBody = partialBody.replace(/%3\$s/, '<a href="{{link}}" title="{{glimpse}}">');
  partialBody = partialBody.replace(/%4\$s/, '</a>');
  Vue.partial( 'partial-i18n-commented-on-post-plural', partialBody );

  Vue.component('comp-notification-group', {
    template: '#template-notification-group',
    data: function() {
      return {
        expectingUpdate: false,
      };
    },
    computed: {
      currentAccountId: function() { return Libertree.currentAccountId; },
      ids: function() {
        return jQuery.map(this.group, function(notif) { return notif.id; } );
      },
      hasUnseenNotifications: function() {
        var has = false;
        jQuery.grep(this.group, function(notif) {
          has = has || ! notif.seen
        } );
        return has;
      },
      actorNames: function() {
        return Libertree.uniq(
          jQuery.map(this.group, function(notif) {
            return notif.actor.nameDisplay;
          } )
        );
      },
      actorsPhrase: function() {
        return Libertree.andedList(this.actorNames);
      },
      plurality: function() {
        return this.actorNames.length == 1 ? 'singular' : 'plural';
      },
      glimpse: function() { return this.group[0].glimpse; },
      ago: function() { return this.group[0].ago; },
      actor: function() { return this.group[0].actor; },
      postMemberAccountId: function() { return this.group[0].post.member.accountId; },
      postMemberNameDisplay: function() { return this.group[0].post.member.nameDisplay; },
      innerComponent: function() {
        /* TODO: comment, like, pool, etc.
        see _notifications.erb
        */
        return 'comp-notif-desc-comment';
      },
      /* I18n: function() { return Libertree.I18n; } */
    },
    methods: {
      toggleState: function(ev) {
        /* ev.stopPropagation(); */
        ev.preventDefault();

        var href = $(event.target).attr('href');

        ev.targetVM.expectingUpdate = true;

        /* We don't update the UI ourselves here, we let it come after the websocket message */

        var newState = ev.targetVM.group[0].seen ? 'unseen' : 'seen'
        $.get('/notifications/'+newState+'/' + ev.targetVM.ids.join('/'), function(data) {
          /* resume link following when the GET request is complete */
          if (href) { window.location = href; }
        } );
      }
    },
  /* notif = notifications[0] */
  /* sg_or_pl = actor_array.uniq.length == 1 ? "singular" : "plural" */
  });

  /* ----------------------------- */

  Libertree.Notifications.notificationsSyncer = new Vue({
    el: '#notifications-icon-and-window',
    data: {
      notificationGroups: [],
      windowVisible: false,
      fetchingData: false,
      /* TODO: static title until further notice, due to i18n */
      /* (this is not impossible to make dynamic, it's just that it's a bit of work.  :) ) */
      /* TODO: clear title if it is out of sync with the real number of unseen notifs */
      /* This could be done with, say, a titleN data attribute */
      title: <%=
        (
          account.num_notifications_unseen == 0 ?
          _('No notifications') :
          n_('1 notification', '%d notifications', account.num_notifications_unseen) % account.num_notifications_unseen
        ).to_json
      %>,
    },
    computed: {
      n: function() {
        var count = 0;
        jQuery.each(this.notificationGroups, function(i, group) {
          count += group.length;
        } );
        return count;
      },
    },
    methods: {
      onIconClick: function(ev) {
        ev.stopPropagation();
        ev.preventDefault();
        var syncer = this;

        if( syncer.windowVisible ) {
          syncer.windowVisible = false;
          Libertree.UI.hideWindows();
          return;
        } // else we now show the unseen notifications list

        if( syncer.notificationGroups.length == 0 ) {
          window.location = '/notifications';
          return;
        }

        syncer.notificationGroups = [];
        Libertree.UI.hideWindows();
        syncer.fetchingData = true;
        syncer.windowVisible = true;

        $.get('/vue-api/notifications?only-unseen=true', function(data) {
          syncer.notificationGroups = data;
          syncer.fetchingData = false;
        });
      },
      onServerUpdate: function(data) {
        /* TODO */
        /* this.n = data.n; */
        /* this.title = data.iconTitle; */
      },
      updatePageTitle: function(new_value) {
        /* TODO: In VueJS 0.11+, we will have a vm.$interpolate() method available
        which will obviate most of this complicated string manipulation. */
        var title = document.title;
        if( new_value === '0' ) {
          title = title.replace( /^\([0-9]+\) /, '' );
        } else {
          title = title.replace( /^\([0-9]+\)/, '('+new_value+')' );
          if( ! title.match(/^\([0-9]+\)/) ) {
            title = '('+new_value+') ' + title;
          }
        }
        document.title = title;
      },
    },
    ready: function() {
      this.$watch('n', this.updatePageTitle);
    },
  });

  /* TODO: To be renamed or consolidated with other syncers */
  Libertree.Notifications.notificationsPageSyncer = new Vue({
    el: '#notifications-list',
    data: {
      notificationGroups: [],
      fetchingInitialData: true
    },
  });

  Libertree.Notifications.updateIconAndWindow();
  Libertree.Notifications.updateNotificationsPage();
} );
