<script type="x-template" id="template-notif-desc-comment">
  <span v-show="postMemberAccountId != currentAccountId && plurality == 'plural'">{{> partial-i18n-commented-on-post-plural}}</span>
  <span v-show="postMemberAccountId != currentAccountId && plurality == 'singular'">{{> partial-i18n-commented-on-post-singular}}</span>
  <span v-show="postMemberAccountId == currentAccountId && plurality == 'plural'">{{> partial-i18n-commented-on-your-post-plural}}</span>
  <span v-show="postMemberAccountId == currentAccountId && plurality == 'singular'">{{> partial-i18n-commented-on-your-post-singular}}</span>
</script>
