<script type="x-template" id="template-notification-group">
  <table
    class="notification"
    v-class="
      unseen: hasUnseenNotifications,
      seen: ! hasUnseenNotifications
    "
    data-notification-ids="<@= ids %>"
  >
    <tr>
      <td class="avatar">
        <span v-component="comp-member-avatar-link" v-with="member"></span>
      </td>
      <td>
        <span v-component="{{innerComponent}}"></span>
        <div class="glimpse touch-only">{{glimpse}}</div>
        <div class="age">{{ago}}</div>
      </td>
    </tr>
  </table>
</script>
