<script type="x-template" id="template-notification-group">
  <table
    class="notification"
    v-class="
      unseen: hasUnseenNotifications,
      seen: ! hasUnseenNotifications
    "
    v-on="click: toggleState"
  >
    <tr>
      <td class="avatar">
        <span v-component="comp-member-avatar-link" v-with="actor"></span>
      </td>
      <td>
        <span v-component="{{innerComponent}}"></span>
        <!-- TODO: DRY this up into a partial or template. -->
        <img
          class="spinner size-12"
          src="/themes/default/images/spinner.gif"
          v-if="expectingUpdate"
        />
        <div class="glimpse touch-only">{{glimpse}}</div>
        <div class="age">{{ago}}</div>
      </td>
    </tr>
  </table>
</script>
