<span
  class="data"
  data-data-type="num-comments"
  data-num-total="<%= @num_total %>"
  data-text-all-showing="<%= n_('1 comment', '%d comments', @num_total) % @num_total%>"
  data-text-some-showing="<%= n_('showing 1 comment', 'showing %%d of %d comments', @num_total) % @num_total%>"
></span>
