<div id="upload-widget">
  <div id="upload-thumbnails"></div>
  <label for="file-to-upload">
    <%= img 'icon-camera.png', {alt:_('Add a photo')}%> <%=_('Add a photo')%>
  </label>
  <progress v-if="inProgress"></progress>
  <input name="file" type="file" id="file-to-upload" v-on="change: upload"/>
</div>
